HW1/data_gathering/scrappers/__pycache__/
HW1/data_gathering/storages/__pycache__/
*/.idea
HW8/train.tsv
HW8/test.tsv
HW8/sample_submission.csv
HW10/ml-1m
HW13/KotlinProject/.gradle
HW13/KotlinProject/.idea
HW13/KotlinProject/build
HW13/KotlinProject/gradle
HW13/KotlinProject/KotlinProject/build
HW13/KotlinProject/KotlinProject/out
HW13/WordPairCount/.gradle
HW13/WordPairCount/.idea
HW13/WordPairCount/build
HW13/WordPairCount/gradle
